*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    /* background-image: url("img.avif"); */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fff;
}
p
{
    font-size: 18px;
}
.newyear
{
    font-size: 30px;
    font-family: 'Inspiration',cursive;
    font-weight: 400px;
}
.counter
{
    height: 100px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
}
.counter .box
{
    width: 150px;
    height: 80px;
    /* border:2px solid #fff; */
    text-align: center;
    /* box-shadow: 1px 0px 0px rgb(216, 30, 30); */
}
.counter .box h2
{
    font-size: 30px;
    font-weight: 500;
}
.counter .box small
{
    font-size: 13px;
}

@media (min-width:576px)
{
    .newyear
    {
        font-size: 40px;
    }
    p
    {
        font-size: 25px;
    }
    .box h2
    {
        font-size: 90px;
    }
    .counter .box
    {
        height: 70px;
        width: 70px;
        margin-top: 15px;
    }
    .counter .box small
    {
        font-size: 15px;
    }
    .counter
    {
    height: 100px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 8px;
    }
}
@media (min-width:768px)
{
    .newyear
    {
        font-size: 60px;
    }
    p
    {
        font-size: 35px;
    }
    .box h2
    {
        font-size: 100px;
    }
    .counter .box
    {
        height: 100px;
        width: 100px;
        margin-top: 30px;
    }
    .counter .box small
    {
        font-size: 20px;
    }
    .counter
    {
    height: 100px;
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 8px;
    }
}
